* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Times New Roman", Times, serif;
    background-color: #708ed2;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.movie {
    width: 300px;
    min-height: 500px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #373b69;
    box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.4);
    margin: 2rem 4rem;
}
.movie__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ebe5e2;
    padding: 0.9rem 1.5rem 1.5rem;
    gap: 1.5rem;
    letter-spacing: 0.5px;
}
.movie img {
    width: 100%;
    min-height: 450px;
    border-radius: 3px;
}
.movie__info span {
    background-color: #272532;
    padding: 0.5rem;
    border-radius: 3px;
}
.movie__info span.green {
    color: rgb(40, 218, 40);
}
.movie__info span.orange {
    color: rgb(255, 182, 45);
}
.movie__info span.red {
    color: rgb(245, 30, 30);
}

/* header */
header {
    background-color: #373b69;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}
header form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search {
    font-size: 2rem;
    background-color: transparent;
    border: 2px solid #ebe5e2;
    border-radius: 30px;
    padding: 1rem 2rem;
    color: #ebe5e2;
    width: 40%;
    outline: none;
}
#search:focus {
    background-color: #272532;
}
#search::placeholder {
    color: #ebe5e2;
}
#search::-webkit-search-cancel-button {
    cursor: pointer;
    font-size: 2.5rem;
}
